*{
    box-sizing: border-box;
    
}

body {
    font-size: 18px;
}

.jumbo {
    padding-top: 1px;
    padding-bottom: 1px;
}

.list-item {
    background-color: lightgray;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    border: solid white 3px;
    border-radius: 2px;
}

.list-item:hover {
    background-color: lightskyblue;
    text-decoration: underline;
}
